<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>interesses</title>
  <link rel="stylesheet" href="/css/style.css" />
  <!-- Fonte -->
  <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap" rel="stylesheet">

</head>
<body>
    <div class="interesses-container">
       <h1>Minhas coisas favoritas</h1>
       <h4>Antes de manter habitos, lembre-se do porque você os criou</h4>

    <% if (erro) { %>
      <div class="popup"><%= erro %></div>
    <% } %>

<form action="/interesses" method="POST">

  <label for="hobbies">Hobbies:</label>
  <input type="text" name="hobbies" id="hobbies" required>

  <label for="filmes">Filmes:</label>
  <input type="text" name="filmes" id="filmes" required>

  <label for="series">Séries:</label>
  <input type="text" name="series" id="series" required>

  <label for="musicas">Músicas:</label>
  <input type="text" name="musicas" id="musicas" required>

  <button type="submit">Salvar</button>
</form>


</body>
</html>