<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>interesses</title>
  <link rel="stylesheet" href="/css/style.css" />
  <!-- Fonte -->
  <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap" rel="stylesheet">

</head>
<body>
    <div class="interesses-container">
       <h1>Cadastro de Interesse</h1>

<% if (erro) { %>
  <p style="color: red"><%= erro %></p>
<% } %>

<form action="/novointeresse" method="POST">
  <input type="text" name="nome" placeholder="Nome" required>
  <input type="email" name="email" placeholder="Email" required>
  <input type="text" name="interesse" placeholder="Interesse" required>
  <button type="submit">Enviar</button>
</form>

    </form>

</body>
</html>