<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login</title>
  <link rel="stylesheet" href="/css/style.css" />
  
  <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap" rel="stylesheet">

</head>
<body>
  <div class="login-container">
    <h1 class="titulo-preto">Login</h1>

    <% if (erro) { %>
      <div class="popup"><%= erro %></div>
    <% } %>

    <form action="/login" method="POST">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" required>

      <label for="senha">Senha:</label>
      <input type="password" name="senha" id="senha" required>

      <button type="submit">Entrar</button>
    </form>

    <div class="register-link">
      Não tem uma conta? <a href="/register">Registre-se</a>
    </div>
  </div>
</body>
</html>
